{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        
        <div class="card-body">
            <h2>Register your users</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{form.username.label_tag}}
                    <input type="text" name="{{form.username.name}}" class="form-control">
                </div>
                <div class="form-group">
                    {{form.email.label_tag}}
                    <input type="email" name="{{form.email.name}}" class="form-control">
                </div>
                <div class="form-group">
                    

                    {{form.password1.label_tag}}
                    <input type="password" name="{{form.password1.name}}" class="form-control">
                    {{form.password2.label_tag}}
                    <input type="password" name="{{form.password2.name}}" class="form-control">
                     {{form.is_superuser.label_tag}}
                     <input type="checkbox" name="{{form.is_superuser.name}}" >
                </div>

                <button type="submit" class="btn btn-success mt-2" >submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}